:root{
  /* Tomato */
  --mainBlue: #FF6347;
  /* CornflowerBlue */
  --lightBlue: #6495ED;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;

}

body{
  font-family: 'Bree Serif', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  font-family: 'Noto Sans SC', cursive;
  font-weight: bold !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright{
  color: var(--lightBlue)
}

nav {
  background-color: #FF6347;
}
